@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">PWSched</h1>
    <p>PWSched is a web app designed to help schedule volunteers participating in public witnessing activities. The app is based on three simple steps:</p>
    <ul>
        <li>Admin creates available shifts</li>
        <li>Volunteers request shifts</li>
        <li>Admin approves volunteers for each shift</li>
    </ul>
    <p>View all shifts <a asp-controller="Shifts" asp-action="Index">here</a>.</p>
</div>
